@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
}
body.blur{
    transition: all 1s;
    filter: brightness(30%);
}
.brighten{
    filter: brightness(100%);
}
main {
    font-size: 25px;
    font-family: "Roboto Condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
* {
    box-sizing: border-box;
}
p {
    font-size: 25px;
    font-family: "Roboto Condensed";
    line-height: 1.5;
    word-spacing: 2px;
}

.navbar {
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    z-index: 1000;
    box-shadow: 0px 5px 30px;
}
.navbar ul{
    list-style-type: none;
    background-color: #0077F2;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 0px;
    overflow: hidden;
}
.navbar li{
    display: block;
    font-family: "Bebas Neue",'Arial Narrow', sans-serif;
    font-size: 30px;
    padding-left: 25px;
    float: left;
}
.navbar #navbarLogo{
    padding-left: 10px;
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
}
.navbar a:hover {
    color: #FFFFFF;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}
.navbar a:visited{
    color : #FFFFFF;
}
.navbar #navbarHamburger{
    float: right;
    padding-right: 10px;
}
.navbar #navbarHamburger button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
}
.hamburgerIconContents{
    background-color: #0077F2;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1002;
    min-width: 100%;
    min-height: 100vh;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showHamburgerContents{
    right: 0;
}
.hamburgerIconContents #cancelBtn{
    border: none;
    background-color: transparent;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFFFF;
}
.hamburgerIconContents #anchors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;

}
.hamburgerIconContents #anchors a{
    font-size: 30px;
    font-family: "Bebas Neue",'Arial Narrow', sans-serif;
    background-color:#C0C0C0;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
.hamburgerIconContents #anchors a:visited{
    color: black;
}
.hamburgerIconContents #anchors a:hover{
    transition: all 0.5s;
    background-color: #FFFFFF;
}
.cookiesInfo{
    min-width: 100%;
    max-height: 50vh;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    background-color: #0077F2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}
.cookiesInfo p{
    font-size: 20px;
    margin: 0;
}
.cookiesInfo button{
    background-color: #C0C0C0;
    border: solid 2px;
    font-family: "Roboto Condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 80%;
    transition: background-color 0.5s;
    cursor: pointer;
}
.cookiesInfo button:hover{
    background-color: #FFFFFF;
}
/* main div */
.mainDiv{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/StudentLineUp.avif");
    background-size: cover;
    background-color: #C0C0C0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    max-width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mainDiv p{
    font-family: "Bebas Neue", 'Arial Narrow', sans-serif;
    color: #FFFFFF;
    font-size: 70px;
    margin: 0px;   
    height: fit-content;
}

section {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h2{
    font-family: "Bebas Neue",'Arial Narrow', sans-serif ;
    font-weight: 400;
    font-size: 60px;
    margin: 5px;
    width:100%;
    text-decoration: underline;
    text-underline-offset: 15px;
}
section #header{
    align-self: flex-start;
}
section img{
    height: auto;
    width: 60%;
    background-color: #C0C0C0;
    margin: 1%;
}
section p, section h3{
    max-width: 100%;
    margin: 10px;
    flex-wrap: wrap;
}
section h3{
    font-family: "Bebas Neue",'Arial Narrow', sans-serif ;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-size: 30px;
}
section ul{
    font-family: "Roboto Condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    padding-left: 15%;
}
section #content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#aboutUs, #Instructors{
    background-color: #0077F2;
    color: #FFFFFF;
}
#Instructors{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("no.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    column-gap: 3%;
}
#Instructors h2{
    color: #FFFFFF;
}
#Instructors div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Instructors #content{
    flex-direction: row;
}
#Instructors p{
    height: 300px;
    color:#FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
#Instructors #name{
    text-decoration: underline;
    text-underline-offset: 10px;
    font-family: "Bebas Neue",'Arial Narrow', sans-serif ;
    font-weight: 400;
}
footer{
    background-color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1%;
    height: 55px;
}
footer p, footer a{
    font-family: "Roboto Condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    text-decoration: none;
    padding: 0;
    display: inline;
    font-size: 20px;
    margin-left: 5px;
    text-align: center;
}
footer a:hover{
    text-decoration: underline;
}
.hoursAndMap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: #0077F2;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 30px black;
    color: #FFFFFF;
}
.hoursAndMap div{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.hoursAndMap #hours{
    width: 45%;
}
.hoursAndMap #map{
    align-items: center;
}
.hoursAndMap h2{
    font-family: "Bebas Neue",'Arial Narrow', sans-serif ;
    font-weight: 400;
    font-size: 50px;
    margin: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-underline-offset: 15px;
}
.hoursAndMap #icons{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-left: 20px;
    transition: color 0.2s;
}
.icon {
  font-size: 48px;
  color: #FFFFFF;
  transition: color 0.2s;
}
.hoursAndMap #icons a::before, .hoursAndMap #icons a::after{
    color: #FFFFFF;
}
.hoursAndMap #icons .icon:hover{
    color: #0200F2;
}
table{
    padding-left: 20px;
}
table tr{
    font-family: "Roboto Condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
}
.emailUs{
    margin: 40px;
    background-color: #0077F2;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 30px black;
    color:#FFFFFF;
}
.emailUs #content h2{
    font-family: "Bebas Neue",'Arial Narrow', sans-serif ;
    font-weight: 400;
    font-size: 50px;
    margin: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-underline-offset: 15px;
}
.emailUs #emailForm{
    padding-left: 20px;
    font-size: 30px;
    font-family: "Roboto Condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.emailUs #emailForm input{
    margin: 10px;
    margin-left: 20px;
    font-size: 30px;
    font-family: "Roboto Condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 500px;
    border: 2px solid;
    border-radius: 5px;
}
.emailUs #emailForm #emailContents{
    width: 800px;
    height: 400px;
    font-size: 30px;
    font-family: "Roboto Condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    resize: none;
    margin: 10px;
    margin-left: 20px;
    border: 2px solid;
    border-radius: 5px;
}
.emailUs #emailForm #sendBtn{
    margin: 10px;
    margin-left: 20px;
    width: 50%;
    height: 50px;
    font-family: "Roboto Condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    border: 2px solid;
    color: black;
    text-align: center;
    border-radius: 5px;
    background-color: #C0C0C0;
    transition: background-color 0.2s;
}
.emailUs #emailForm #sendBtn:hover{
    background-color: #FFFFFF;
    cursor: pointer;
}
.emailUs #emailForm #sendBtn::after{
    background-color: #C0C0C0;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    -webkit-transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}
#imageGallery{
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:1025px){
    .navbar #navbarHamburger{
        display: none;
    }
}
@media screen and (max-width:1024px){
    .navbar > ul > li:not(#navbarLogo):not(#navbarHamburger):not(#navbarContact):not(#contactNav){
        display: none;
    }
    .mainDiv p{
        font-size: 50px;
    }
    section #content{
        width: 100%;
        flex-direction: column;
    }
    section p, section h3{
        display: block;
        max-width: 100%;
        overflow: auto;
        padding: 3%;
    }
    section img{
        height: auto;
        width: 80%;
        margin: 10px;
    }
    section #text{
        display: block;
        max-width: 100%;
    }
    section h2{
        font-size: 40px;
    }
    #classes #content{
        flex-direction: column-reverse;
    }
    #Instructors #content{
        flex-direction: column;
    }
    .hoursAndMap{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
        margin: 20px;
    }
    .hoursAndMap div{
        min-width: 100%;
        text-align: center;
        padding: 5px;
    }
    #hours h2{
        margin: 0px;
    }
    #hours p{
        margin: 0px;
    }
    #hours table tr, .hoursAndMap #hours p{
        font-size: 25px;
    }
    .hoursAndMap table, .hoursAndMap p{
        padding: 0;
        margin-bottom: 10px;
    }
    .hoursAndMap table{
        margin: 10px;
        width: 70%;
        align-self: center;
    }
    .hoursAndMap #phoneNum{
        text-align: center; 
        padding: 20px;
    }
    .hoursAndMap #icons{
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
    }
    .hoursAndMap #locationHeader{
        margin-bottom: 20px;
    }
    .hoursAndMap iframe{
        max-width: 90%;
        height: 350px;
        margin-bottom: 10px;
    }
    .emailUs{
        margin: 20px;
    }
    .emailUs #emailForm label, .emailUs #emailForm input{
        font-size: 25px;
    }
    .emailUs #emailForm input{
        width: 80%;
    }
    .emailUs #emailForm #emailContents{
        width: 90%;
    }
}
@media screen and (max-width:1076px){
    .hoursAndMap iframe{
        max-width: 90%;
        height: 350px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:500px){
    .hoursAndMap table{
        width: 100%; 
    }
    .emailUs #emailForm{
        padding: 0px;
    }
}
@media screen and (max-width:424px){
    .navbar #instructorsNav{
        display: none;
    }
}
@media screen and (max-width:750px){
    footer a, footer p{
        font-size: 13px;
    }
    footer #logo{
        display: none;
    }
    .icon{
        font-size: 32px;
    }
}   
@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}

